button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
}
* {
  --tw-ring-inset:var(--tw-empty, );
  --tw-ring-offset-width:0px;
  --tw-ring-offset-color:#fff;
  --tw-ring-color:rgba(59,130,246,var(--tw-ring-opacity,0.5));
  --tw-ring-offset-shadow:0 0 transparent;
  --tw-ring-shadow:0 0 transparent;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  font-family:
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
}
table {
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse;
}
hr {
  height: 0;
  color: inherit;
  border-top-width: 1px;
}
input::placeholder,
textarea::placeholder {
  opacity: 1;
  color: #9ca3af;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
button {
  background-color: transparent;
  background-image: none;
}
body {
  font-family: inherit;
  line-height: inherit;
}
*,
::before,
::after {
  box-sizing: border-box;
  border: 0 solid #e5e7eb;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
a {
  color: inherit;
  -webkit-text-decoration: inherit;
  text-decoration: inherit;
}
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
pre,
code,
kbd,
samp {
  font-family:
    ui-monospace,
    SFMono-Regular,
    Menlo,
    Monaco,
    Consolas,
    "Liberation Mono",
    "Courier New",
    monospace;
  font-size: 1em;
}
img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  vertical-align: middle;
}
img,
video {
  max-width: 100%;
  height: auto;
}
body,
blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre,
fieldset,
ol,
ul {
  margin: 0;
}
button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}
fieldset,
ol,
ul,
legend {
  padding: 0;
}
textarea {
  resize: vertical;
}
button,
[role=button] {
  cursor: pointer;
}
:-moz-focusring {
  outline: 1px dotted ButtonText;
}
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}
summary {
  display: list-item;
}
:root {
  -moz-tab-size: 4;
  tab-size: 4;
}
ol,
ul {
  list-style: none;
}
img {
  border-style: solid;
}
button,
select {
  text-transform: none;
}
:-moz-ui-invalid {
  box-shadow: none;
}
progress {
  vertical-align: baseline;
}
abbr[title] {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: bolder;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}
::-webkit-search-decoration {
  -webkit-appearance: none;
}
* {
  --tw-shadow:0 0 transparent;
}
.btn {
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-weight: 600;
  border-radius: 0.5rem;
  --tw-shadow:0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  box-shadow:
    var(--tw-ring-offset-shadow,0 0 transparent),
    var(--tw-ring-shadow,0 0 transparent),
    var(--tw-shadow);
}
.btn:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
  --tw-ring-offset-shadow:var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow:var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow:
    var(--tw-ring-offset-shadow),
    var(--tw-ring-shadow),
    var(--tw-shadow,0 0 transparent);
  --tw-ring-opacity:0.75;
  --tw-ring-color:rgba(129,140,248,var(--tw-ring-opacity));
}
.bg-gray-300 {
  --tw-bg-opacity:1;
  background-color: #d1d5db;
  background-color: rgba(209, 213, 219, var(--tw-bg-opacity));
}
.focus\:ring-2:focus {
  --tw-ring-offset-shadow:var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow:var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow:
    var(--tw-ring-offset-shadow),
    var(--tw-ring-shadow),
    var(--tw-shadow,0 0 transparent);
}
.focus\:outline-none:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}
.focus\:px-4:focus {
  padding-left: 1rem;
  padding-right: 1rem;
}
.focus\:py-2:focus {
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}
.focus\:opacity-75:focus {
  opacity: 0.75;
}
.focus\:p-5:focus {
  padding: 1.25rem;
}
.focus\:font-semibold:focus {
  font-weight: 600;
}
.focus\:mt-20:focus {
  margin-top: 5rem;
}
.focus\:ring-rounded-lg:focus {
  --tw-ring-opacity:1;
}
.focus\:ring-shadow-md:focus {
  --tw-ring-opacity:1;
}
.focus\:ring-styles\.css:focus {
  --tw-ring-opacity:1;
}
.focus\:ring-stylesheet:focus {
  --tw-ring-opacity:1;
}
.focus\:ring-test:focus {
  --tw-ring-opacity:1;
}
.focus\:ring-twind:focus {
  --tw-ring-opacity:1;
}
.focus\:ring-viewport:focus {
  --tw-ring-opacity:1;
}
.focus\:ring-width\=device-width:focus {
  --tw-ring-opacity:1;
}
